
<mat-sidenav #sidenav opened="true" mode="side" style="width: 280px; background-color: #fff; border: none;">
  <mat-nav-list class="pt-0" style="background-color: #fff;">
      <a href="" mat-list-item><mat-icon>dashboard</mat-icon>Dashboard</a>
      <a href="" mat-list-item><mat-icon>perm_identity</mat-icon>Employee</a>
      <a href="" mat-list-item><mat-icon>account_balance_wallet</mat-icon>Payslips</a>
      <a href="" mat-list-item><mat-icon>extension</mat-icon>Create Template</a>
      <a href="" mat-list-item><mat-icon>perm_identity</mat-icon>Profile</a>
      <a href="" mat-list-item><mat-icon>settings</mat-icon>Setting</a>
      <a href="" mat-list-item><mat-icon>help</mat-icon>help</a>
  </mat-nav-list>
</mat-sidenav>
