<!-- main navbar -->
<mat-toolbar>
  <mat-toolbar-row>
      <button mat-icon-button style="background-color: #fff;">
          <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
          <!-- <mat-icon (click)="isClick()">menu</mat-icon> -->
      </button>
      <img src="../../../assets/images/x-pay.svg" alt="" style="background-color: #fff;">
      <div class="nav-item">
        <div class="magnifire"><button><mat-icon>search</mat-icon></button></div>
        <div class="help"><button><mat-icon>help_outline</mat-icon></button></div>
        <div class="notification"><button><mat-icon>notifications_outline</mat-icon></button></div>
        <div><img src="../../../assets/images/profile.svg" alt=""></div>
        <div class="logout"><button style="margin-left: 10px;"  (click)="logout()"><mat-icon>logout</mat-icon></button></div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>

