@import "../show-payslips/show-payslips.component.scss";

.card-title{
    padding: 20px 0;
    margin-left: 10px;
    font-size: 20px;
}

.card-body{
    height: 970px;
    background-color: #fff;
    margin: 0px 15px;
}

.card-content{

    background-color: #fff;
}

.main-header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
}

.context{
    background-color: #fff;
}

label{
    width: 298px;
}
.main-header{
    .row{

        background-color: white;
        margin-bottom: 20px;
        padding-left: 50px;
    }
}
