<app-welcome-background></app-welcome-background>
<section class="form" style="background-color:#5D8BD8; ">
    <div class="row" style="height: 791px;">
        <div class="col-md-0 col-lg-6"></div>
        <div class="col-md-12 col-lg-6">
            <div class="card bg-white main_card" [ngStyle]="{'height': isForgotpasswordLink? '670px' : '700px', 'margin-bottom': isForgotpasswordLink? '0px' : '60px'}">
                <div class="card-body">
                    <div class="x-pay" style="margin-top: 34px; margin-bottom: 15px;"><img src="../../../assets/images/x-pay.svg" alt="" style="display: flex; padding-left:206px"></div>
                    <!-- <div *ngIf="isForgotpasswordLink; else No_forgotpassowrd_link">
                            <div class="card-title text-center text-primary mb-5">Login</div>
                            <form [formGroup]="passwordChangeForm" (ngSubmit)="loginUser()">
                            <div>
                                <input type="email" class="form-control mb-4 p-3 d-grid col-6 mx-auto" style="width: 400px;" id="floatingInput" placeholder="Email Address" autocomplete="new-password" formControlName="email" ngModel>
                                <span class="validations_email" style="color: red;" *ngIf="email && email.invalid && email.touched">Email input field is not valid</span>
                            </div>
                            <div>
                                <input [type]="changetype?'password':'text'" class="form-control mb-1 p-3 d-grid col-6 mx-auto" style="width: 400px;" id="floatingPassword" placeholder="Password" required="" autocomplete="new-password" formControlName="password">
                                <span class="eye" (click)="viewpass()"><i [ngClass]="visible?'bi bi-eye-slash':'bi bi-eye'" style="cursor: pointer" ></i></span>
                                <span class="validations_password" style="color: red; position: relative; margin-left: 75px; bottom: 24px" *ngIf="password && password.invalid && password.touched">Password input field is required</span>
                            </div>

                            <div class="forgot_password">
                                <a href="" (click)="isForgotpasswordLink =! isForgotpasswordLink">forgot password</a>
                            </div>
                            <div class="text-center mt-5 d-grid col-6 mx-auto" style="width: 400px;">
                                <button class="login-btn btn btn-primary text-center">Login</button>
                            </div>
                            <div class="warning">
                            <p style="width: 400px;">This page is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
                            </div>
                            </form>
                    </div> -->


                        <div class="row">
                            <div class="col">
                                <div class="forgot_password_text">Forgot Password</div>
                                <div class="instruction">Please enter your registed email address</div>
                                <div class="verify_msg">We will send a verification code to your registered email address</div>
                                <div class="img-rectangle" *ngIf="!isEnterNewPassword"><img src="../../../assets/images/Rectangle.svg" alt=""></div>
                                <form  *ngIf="!verifyNumber && !isEnterNewPassword">
                                    <div>
                                        <input type="email" class="form-control mb-4 p-3 d-grid col-6 mx-auto" style="width: 400px;" id="floatingInput" placeholder="Email Address" autocomplete="new-password" name="forgotPasswordEmail" [(ngModel)]="forgotPasswordEmail">
                                        <span class="validations_email" style="color: red; margin-left: 75px;" *ngIf="email && email.invalid && email.touched">Email input field is not valid</span>
                                    </div>
                                    <div class="text-center mb-3 d-grid col-6 mx-auto" style="width: 400px;">
                                        <button class="next-btn btn btn-primary text-center" (click)="isVerifiedEmail()">Next</button>
                                    </div>
                                </form>

                                <div *ngIf="verifyNumber" id="verifyNumber">
                                    <form #aForm (ngSubmit)="onSubmit($event)">
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" name="text1" #txt1 maxlength="1" (keyup)="move($event,'text2')" [(ngModel)]="text1" >
                                            </div>
                                            <div class="col">
                                                <input type="text" name="text2" #txt2 maxlength="1" (keyup)="move($event,'text3')" [(ngModel)]="text2" >
                                            </div>
                                            <div class="col">
                                                <input type="text" name="text3" #txt3 maxlength="1" (keyup)="move($event,'text4')" [(ngModel)]="text3"  >
                                            </div>
                                            <div class="col">
                                                <input type="text" name="text4" #txt4 maxlength="1" (keyup)="move($event,'text5')" [(ngModel)]="text4" >
                                            </div>
                                            <div class="col">
                                                <input type="text" name="text5" #txt5 maxlength="1" (keyup)="move($event,'')" [(ngModel)]="text5" >
                                            </div>
                                        </div>
                                        <div class="text-center mb-3 d-grid col-6 mx-auto" style="width: 400px;">
                                            <button class="next-btn btn btn-primary text-center">Next</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>


                    <div *ngIf="!verifyNumber && isEnterNewPassword">
                        <form [formGroup]="passwordChangeForm">
                            <div>
                                <input [type]="changetype?'password':'text'" class="form-control mb-1 p-3 d-grid col-6 mx-auto" style="width: 400px;" id="floatingPassword" placeholder="Password" required="" autocomplete="new-password" formControlName="password">
                                <span class="eye" (click)="viewpass()"><i [ngClass]="visible?'bi bi-eye-slash':'bi bi-eye'" style="cursor: pointer "></i></span>
                                <span class="validations_password" style="color: red; position: relative; margin-left: 74px; bottom: 24px;" *ngIf="password && password.invalid && password.touched">Password input field is not valid</span>
                            </div>

                            <!-- password strength meter -->
                            <div class="password_meter">
                                <span [style.background]="passwordChangeForm.get('password')?.value === '' ? '#EBEAEC' :passwordChecker()>=1 ? '#5CC277': '#E4503A'"
                                    style="width: 20%; height: 3px; background: rgb(92, 194, 119); border-radius: 4px;" class="cc"></span>

                                <span [style.background]="passwordChangeForm.get('password')?.value === '' ? '#EBEAEC' :passwordChecker()>=2 ? '#5CC277': '#E4503A'"
                                        style="margin-left: 0.5rem; width: 20%; height: 3px; background: rgb(92, 194, 119); border-radius: 4px;" class="cc"></span>

                                <span [style.background]="passwordChangeForm.get('password')?.value === '' ? '#EBEAEC' :passwordChecker()>=3 ? '#5CC277': '#E4503A'"
                                        style="margin-left: 0.5rem; width: 20%; height: 3px; background: rgb(92, 194, 119); border-radius: 4px;" class="cc"></span>

                                <span [style.background]="passwordChangeForm.get('password')?.value === '' ? '#EBEAEC' :passwordChecker()>=4 ? '#5CC277': '#E4503A'"
                                        style="margin-left: 0.5rem; width: 20%; height: 3px; background: rgb(92, 194, 119); border-radius: 4px;" class="cc"></span>

                                <span [style.background]="passwordChangeForm.get('password')?.value === '' ? '#EBEAEC' :passwordChecker()>=5 ? '#5CC277': '#E4503A'"
                                        style="margin-left: 0.5rem; width: 20%; height: 3px; background: rgb(92, 194, 119); border-radius: 4px;" class="cc"></span>
                            </div>

                            <!-- <div class="requirement"><p>Password must be at least 8 characters long</p></div> -->
                            <div>
                                <input [type]="changetype2?'password':'text'" class="form-control mb-1 p-3 d-grid col-6 mx-auto" style="width: 400px;" id="floatingPassword" placeholder="Confirm Password" required="" autocomplete="new-password" formControlName="confirm_password" [(ngModel)]="confirmNewPassword">
                                <span class="eye" (click)="viewpass2()"><i [ngClass]="visible?'bi bi-eye-slash':'bi bi-eye'" style="cursor: pointer"></i></span>
                                <span  class="validations_confirm_password" style="color: red; position: relative; margin-left: 74px; bottom: 24px;" *ngIf="confirm_password && confirm_password.invalid && confirm_password.touched && confirm_password!=password">Confirm password input field is not valid</span>
                            </div>


                            <div class="text-center d-grid col-6 mx-auto" style="width: 400px;">
                                <button class="login-btn btn btn-primary text-center" (click)="changePassword()">Change Password</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>







