@import "../../../styles.scss";
.login-btn{
    margin-top: 50px;
    @include login();
}

.main_card{
    height: 568px;
    width: 548px;
    @include main_card_additional();
}


.card-title{
    @include card_title();
}

.form-control{
    width: 368px;
    height: 56px;
    border-radius: 4px;
}

.warning p{
    @include warning();
}

.forgot_password_link a{
    float: right;
    margin-right: 58px;
    text-decoration: revert;
}

.validations_email{
    position: relative;
    bottom: 20px;
    margin-left: 73px;
}

.validations_password{
    position: relative;
    margin-left: 103px;
}

.eye{
    bottom: 43px;
    position: relative;
    margin-left: 438px;
}

.forgot_password{
    display: flex;
    justify-content: flex-end;
    margin-right: 72px;
}

.forgot_password_text{
    @include card_title();
    margin-top: 28px;
}

.instruction{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-top: 20px;
    color: #3A3A3A;
    display: flex;
    width: 359px;
    margin-left: 72px;

}

.verify_msg{
    @include common_display_style();
    padding-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #828A9C;
    width: 400px;
    margin-left: 71px
}

.img-rectangle{
    @include common_display_style();
    padding-bottom: 40px;
}

.next-btn{
    @include login();
    width: 400px;
    display: block;
    margin: 0px auto;
}

.square_text_field{
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
    height: 83px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.password_meter{
    display: flex;
    width: 400px;
    margin-left: 72px;
    margin-bottom: 48px;
}



#verifyNumber input{
    width: 50px;
    height: 50px;
    margin: 20px auto 0px 0px;
    text-align: center;
    font-size: x-large;
}

#verifyNumber .row{
    padding-bottom: 20px;
    width: 333px;
    display: flex;
    flex-direction: row;
    margin-left: 112px;
}

