
.login-btn{
  margin-top: 50px;
}

.main_card{
  height: 740px;
  width: 548px;
  border-radius: 10px;
  margin-left: 57px;
  margin-top: 20px;
}

// .eye{
//     display: flex;
//     justify-content: flex-end;
// }


.card-title{
  height: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #004DCC;
  font-family: 'Inter';
  font-style: normal;
  align-items: center;
  text-align: center;
}

.form-control{
  width: 368px;
  height: 56px;
  border-radius: 4px;
}

.password_meter{
  display: flex;
  width: 400px;
  margin-left: 58px;
  margin-top: 14px;
}

.warning p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #828A9C;
  margin: 20px auto;
  position: relative;
}
.forgot_password_link a{
  float: right;
  margin-right: 58px;
  text-decoration: revert;
}

.validations_email{
  position: relative;
  bottom: 20px;
  margin-left: 59px;
}

.validations_password{
  position: relative;
  margin-left: 86px;
}

.validations_confirm_password{
  position: relative;
  margin-left: 86px;
}
.requirement{
  margin-left: 58px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #AFB5C0;
  margin-top: 20px;
}

.eye{
  bottom: 43px;
  position: relative;
  margin-left: 425px;
}
