<img class="poly1" src="../../../assets/images/Polygon 1.svg" alt="">
<img class="poly2" src="../../../assets/images/Polygon 2.svg" alt="">
<img class="poly3" src="../../../assets/images/Polygon 3.svg" alt="">
<img class="poly4" src="../../../assets/images/Polygon 4.svg" alt="">
<img class="poly5" src="../../../assets/images/Polygon 5.svg" alt="">
<img class="poly6" src="../../../assets/images/Polygon 6.svg" alt="">
<img class="poly7" src="../../../assets/images/Polygon 7.svg" alt="">
<img class="poly8" src="../../../assets/images/Polygon 8.svg" alt="">
<img class="poly9" src="../../../assets/images/Polygon 9.svg" alt="">
<img class="group1" src="../../../assets/images/Group 49.svg" alt="">
<img class="group2" src="../../../assets/images/Group 50.svg" alt="">
<img class="group3" src="../../../assets/images/Group 51.svg" alt="">


<header style="background-color:#5D8BD8; ">
    <div class="img01" style="height: 61px;">
      <!-- <img src="../../../assets/images/payslip.svg" alt=""> -->
    </div>
</header>

<div class="col1" style="background-color:#5D8BD8; ">
    <div class="col1_inner">
      <div class="title">
        <h1>Welcome</h1>
      </div>
      <div class="desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </div>
      <!-- <div class="login_sm_btn_outline">
        <div class="login_text">
          <a href="">login</a>
        </div>
      </div> -->
    </div>
</div>

